.VideoCard{
  width: 300px;
  height: 400px;
  padding: 30px;
  color: white;
  transition: transform 100ms;
}

.desc{
  display: none;
}

.VideoCard:hover > .desc{
  display:inline;
}

.VideoCard:hover{
transform: scale(1.05);

}
.VideoCard>img{
  height: 300px;
  object-fit: contain;
  width: 300px;
}
