.navlist{
  color: white;
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
overflow-x:scroll; 
}
.navlist > li{
  opacity: 0.7;
  margin-right:30px;
  margin-left: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 50ms ease-in-out;
}

.navlist::-webkit-scrollbar{
  display: none;

}

.navlist > li:hover{
opacity: 1;
transform: scale(1.2);
}